#!/usr/bin/env python3
{{ ansible_managed | comment }}
import shutil
from collections import defaultdict
from pathlib import Path
from lxml import etree


origin = Path("/usr/local/lib/mediaportal-de-logos")
target = Path("/var/lib/vdr/channellogos")
shutil.rmtree(target)
target.mkdir(parents=True, exist_ok=True)

tree = etree.parse(str(origin / "LogoMapping.xml"))
channels = defaultdict(set)                                                                                                                                  
for t in ("TV", "Radio"):
    base_path = Path(origin) / Path(t) / "Dark"
    for channel in tree.xpath(f'{t}/Channel'):
        for channel_item in channel.findall("Item"):
            channel_name = channel_item.get("Name")
            channel_file = base_path / Path(channel.find("File").text)
            suffix = channel_file.suffix
            channels[channel_file].add(target / (f"{channel_name}{suffix}".lower()))

for channel_logo, channel_names in channels.items():
    for channel_name in channel_names:
        try:
            channel_name.parent.mkdir(parents=True, exist_ok=True)
            channel_name.symlink_to(channel_logo)
        except IOError as err:
            if err.errno == 17:
                pass
            else:
                print(err)
