{{ansible_managed | comment }}
# Place "config.txt" changes (dtparam, dtoverlay, disable_overscan, etc.) in
# this file. Please refer to the README file for a description of the various
# configuration files on the boot partition.
{% if rpi_decode_mpg2 is defined %}
decode_MPG2={{ rpi_decode_mpg2 }}
{% endif %}
{% if rpi_decode_wvc1 is defined %}
decode_WVC1={{ rpi_decode_wvc1 }}
{% endif %}
{% if rpi_ir_gpio_pin is defined %}
dtoverlay=gpio-ir,gpio_pin={{ rpi_ir_gpio_pin }}
{% endif %}
{% if rpi_ir_gpio_pin_tx is defined %}
dtoverlay=gpio-ir-tx,gpio_pin={{ rpi_ir_gpio_pin_tx }}
{% endif %}
{% if rpi_ir_pwm_pin_tx is defined %}
dtoverlay=pwm-ir-tx,gpio_pin={{ rpi_ir_pwm_pin_tx }}
{% endif %}
{# Allow for arbitrary entries #}
{% if rpi_user_config_line is defined %}
{% for item in rpi_user_config_line %}
{{ item }}
{% endfor %}
{% endif %}
