{{ ansible_managed.format(file=template_path) | comment }}

Section "InputClass"
        Identifier "system-keyboard"
        MatchIsKeyboard "on"
        Option "XkbLayout" "{{ keyboard_facts.XKBLAYOUT }}"
        Option "XkbModel" "{{ keyboard_facts.XKBMODEL }}"
        Option "XkbVariant" ",{{ keyboard_facts.XKBVARIANT }}"
        Option "XkbOptions" "{{ keyboard_facts.XKBOPTIONS }}"
EndSection
