{{ ansible_managed.format(file=template_path) | comment }}

{%- set outputs = display_outputs -%}
{%- set primary_config = custom_display_config.primary -%}
{%- set primary_mode = primary_config.resolution + '_' + primary_config.refreshrate | string -%}
{%- set primary_connector = primary_config.connector -%}
{%- set primary = outputs[primary_connector] -%}
{%- set primary_output = primary.xrandr_name  -%}
{%- set primary_modelines = primary.all_modelines -%}

{%- set use_secondary = custom_display_config.secondary is not none -%}
{%- if use_secondary -%}
{%- set secondary_config = custom_display_config.secondary -%}
{%- set secondary_connector = secondary_config.connector -%}
{%- set secondary = outputs[secondary_connector] -%}
{%- set secondary_output = secondary.xrandr_name -%}
{%- set secondary_mode = custom_display_config.secondary.resolution + '_' + secondary_config.refreshrate | string -%}
{%- set secondary_modelines = secondary.all_modelines -%}
{%- endif %}

{% set intel_driver = ansible_facts.intel_driver | default("intel") %}

Section "Device"
  Identifier  "Device0"
  Driver      "{{ intel_driver }}"
  Option      "TearFree" "true"
  Option      "DRI" "3"
{% if use_secondary %}
  Option      "ZaphodHeads" "{{ primary_output }}"
  Screen      0
{% endif %}
EndSection

{% if use_secondary %}
Section "Device"
  Identifier  "Device1"
  Driver      "{{ intel_driver }}"
  Option      "TearFree" "true"
  Option      "DRI" "3"
  Option      "ZaphodHeads" "{{ secondary_output }}"
  Screen      1
EndSection

Section "ServerLayout"
    Identifier     "Layout0"
    Screen      0  "Screen0" 0 0
    Screen      1  "Screen1" RightOf "Screen0"
EndSection
{% endif %}

Section "Screen"
  Identifier  "Screen0"
  Device      "Device0"
  Monitor     "{{ primary_output }}"
  DefaultDepth  24
  SubSection "Display"
    Depth       24
{% if primary_modelines[primary_mode] | default(false) %}
    Modes     "{{ primary_mode }}"
{% else %}
    Modes     "1920x1080_50" "1920x1080_60" "1920x1080_24"
{% endif %}
  EndSubSection
EndSection

Section "Monitor"
  Identifier  "{{ primary_output }}"
{% if primary_modelines %}
{% for modeline in primary_modelines.values() %}
  {{ modeline }}
{% endfor %}
{% else %}
  Modeline    "1920x1080_24"     74.230 1920 2560 2604 2752 1080 1084 1089 1125 +hsync +vsync
  Modeline    "1920x1080_50"    148.500 1920 2448 2492 2640 1080 1084 1089 1125 +hsync +vsync
  Modeline    "1920x1080_60"    148.500 1920 2008 2056 2200 1080 1084 1089 1125 +hsync +vsync
{% endif %}
EndSection

{% if use_secondary %}
Section "Screen"
  Identifier  "Screen1"
  Device      "Device1"
  Monitor     "{{ secondary_output }}"
  DefaultDepth  24
  SubSection "Display"
    Depth       24
{% if secondary_mode %}
    Modes     "{{ secondary_mode }}"
{% else %}
    Modes     "1920x1080_50" "1920x1080_60" "1920x1080_24"
{% endif %}
  EndSubSection
EndSection

Section "Monitor"
  Identifier  "{{ secondary_output }}"
{% if secondary_modelines %}
{% for modeline in secondary_modelines.values() %}
  {{ modeline }}
{% endfor %}
{% else %}
  Modeline    "1920x1080_24"     74.230 1920 2560 2604 2752 1080 1084 1089 1125 +hsync +vsync
  Modeline    "1920x1080_50"    148.500 1920 2448 2492 2640 1080 1084 1089 1125 +hsync +vsync
  Modeline    "1920x1080_60"    148.500 1920 2008 2056 2200 1080 1084 1089 1125 +hsync +vsync
{% endif %}
EndSection
{% endif %}

{# the intel driver can't ignore monitors, so this doesn't work - disable deactivation of monitors for now
{% for connector, data in ansible_facts.graphics_outputs.items() %}
# {{ connector }} {{ data.is_connected }}
{% if not (
    data.is_connected or
    data.xrandr_name == primary_output or
    (use_secondary and data.xrandr_name == secondary_output)
) %}
Section "Monitor"
  Identifier "{{ data.xrandr_name }}"
  Option "Ignore" "true"
EndSection

{% endif %}
{% endfor %}
#}
