{{ ansible_managed.format(file=template_path) | comment }}
{#
{% set xorg = ansible_facts.xorg %}
{% set primary_mode = xorg_config.primary.resolution + '_' + xorg_config.primary.refreshrate | string %}
{% set has_secondary = ansible_facts.xorg.secondary | default(false, true) | bool %}
{% set use_secondary = has_secondary and (ansible_facts.xorg_config.secondary | default(false, true) | bool) %}
#}
{%- set primary_mode = ansible_facts.graphics_config.primary.resolution + '_' + ansible_facts.graphics_config.primary.refreshrate | string -%}
{%- set primary_connector = ansible_facts.graphics_config.primary.connector -%}
{%- set primary = ansible_facts.graphics_outputs[primary_connector] -%}
{%- set primary_output = ansible_facts.graphics_outputs[primary_connector].xrandr_name  -%}
{%- set primary_modelines = ansible_facts.graphics_outputs[primary_connector].all_modelines -%}
{%- set use_secondary = ansible_facts.graphics_config.secondary is not none -%}
{%- if use_secondary -%}
{%- set secondary = ansible_facts.graphics_outputs[secondary_connector] -%}
{%- set secondary_connector = graphics_config.secondary.connector -%}
{%- set secondary_output = ansible_facts.graphics_outputs[secondary_connector].xrandr_name -%}
{%- set secondary_mode = ansible_facts.graphics_config.secondary.resolution + '_' + ansible_facts.graphics_config.secondary.refreshrate | string -%}
{%- set secondary_modelines = ansible_facts.graphics_outputs[secondary_connector].all_modelines -%}
{%- endif -%}


Section "ServerLayout"
    Identifier     "Layout0"
    Screen         0  "Screen0" 0 0
{% if use_secondary %}
    Screen         1  "Screen1" RightOf "Screen0"
{% endif %}
    #InputDevice    "Keyboard0" "CoreKeyboard"
    #InputDevice    "Mouse0" "CorePointer"
    Option         "Xinerama" "0"
EndSection

Section "InputClass"
    Identifier "exclude eventlircd devices"
    MatchTag   "eventlircd"
    Option     "Ignore"    "True"
EndSection

Section "Monitor"
    Identifier     "Monitor0"
    VendorName     "{{ primary.vendor }}"
    ModelName      "{{ primary.model }}"
    Option         "DPMS"
    Option         "ExactModeTimingsDVI" "True"
EndSection

Section "Device"
    Identifier     "Device0"
    Driver         "nvidia"
    VendorName     "NVIDIA Corporation"
    Option         "NoLogo"              "true"
{% if primary.bus_id is not none %}
    BoardName      "{{ primary.card_name }}"
    BusID          "{{ primary.bus_id }}"
{% else %}
    BoardName      "Unknown"
{% endif %}
{% if nvidia_force_dpi | int(0) > 0  %}
    Option         "UseEdidDpi" "FALSE"
    Option         "DPI" "{{ ansible_facts.nvidia_force_dpi }} x {{ ansible_facts.nvidia_force_dpi }}"
{% endif %}
    Screen          0
    Option         "ConnectedMonitor" "{{ primary.xrandr_name }}{% if use_secondary %}, {{ secondary.xrandr_name }}{% endif %}"
    Option         "CustomEDID" "{{ primary.xrandr_name }}:/etc/X11/edid.{{ primary.xrandr_name }}.bin{% if use_secondary %};{{ secondary.xrandr_name }}:/etc/X11/edid.{{ secondary.xrandr_name }}.bin{% endif %}"
EndSection

Section "Screen"
    Identifier     "Screen0"
    Device         "Device0"
    Monitor        "Monitor0"
    DefaultDepth    24
    Option         "nvidiaXineramaInfoOrder" "{{ primary.xrandr_name }}"
    Option         "UseDisplayDevice" "{{ primary.xrandr_name }}"
    Option         "metamodes" "{{ primary.xrandr_name }}: {{ primary_mode }} +0+0 {ForceCompositionPipeline=Off, ForceFullCompositionPipeline=Off}"
    Option         "AllowIndirectGLXProtocol" "off"
    Option         "TripleBuffer" "on"
    Option         "SLI" "Off"
    Option         "MultiGPU" "Off"
    Option         "BaseMosaic" "off"
    SubSection     "Display"
        Depth       24
    EndSubSection
EndSection

{% if use_secondary %}
Section "Device"
    Identifier     "Device1"
    Driver         "nvidia"
    VendorName     "NVIDIA Corporation"
    Option  "NoLogo"              "true"
    BoardName      "{{ secondary.card_name or "Unknown" }}"
{% if xorg.secondary.bus_id is not none %}
    BusID          "{{ secondary.bus_id }}"
{% endif %}
{% if nvidia_force_dpi | int(0) > 0  %}
    Option         "UseEdidDpi" "FALSE"
    Option         "DPI" "{{ ansible_facts.nvidia_force_dpi }} x {{ ansible_facts.nvidia_force_dpi }}"
{% endif %}
    Screen          1
EndSection

Section "Monitor"
    Identifier     "Monitor1"
    VendorName     "{{ secondary.vendor }}"
    ModelName      "{{ secondary.model }}"
EndSection

Section "Screen"
    Identifier     "Screen1"
    Device         "Device1"
    Monitor        "Monitor1"
    DefaultDepth    24
    Option         "nvidiaXineramaInfoOrder" "{{ secondary.xrandr_name }}"
    #Option         "ConnectedMonitor" "{{ secondary.xrandr_name }}"
    Option         "UseDisplayDevice" "{{ secondary.xrandr_name }}"
    #Option         "CustomEDID" "{{ secondary.xrandr_name }}:/etc/X11/edid.{{ secondary.xrandr_name }}.bin"
    Option         "metamodes" "{{ secondary.xrandr_name }}: {{ secondary.mode }} +0+0 {ForceCompositionPipeline=Off, ForceFullCompositionPipeline=Off}"
    Option         "AllowIndirectGLXProtocol" "off"
    Option         "TripleBuffer" "on"
    Option         "SLI" "Off"
    Option         "MultiGPU" "Off"
    Option         "BaseMosaic" "off"
    SubSection     "Display"
        Depth       24
    EndSubSection
EndSection
{% endif %}

Section "Extensions"
    Option         "Composite" "Disable"
EndSection
