<?xml version="1.0" encoding="UTF-8"?>
{{ ansible_managed | comment('xml') }}
<!--
This is the config file for the Menuorg plug-in.
See /usr/share/doc/vdr-plugin-menurg for examples and a full
description of the config file format.
-->
<menus>
    <system name="Schedule" />
    <system name="Channels" />
    <menu name="{{ "Timer" | translate }}">
        <system name="Timers" />
        <plugin name="epgsearchonly" />
        <plugin name="quickepgsearch" />
        <plugin name="conflictcheckonly" />
    </menu>
    <menu name="{{ "Video"| translate }}">
        <system name="Recordings" />
        <plugin name="extrecmenu" />
        <plugin name="extrecmenung" />
        <plugin name="burn" />
        <plugin name="dvdswitch" />
        <plugin name="dvdselect" />
        <plugin name="dvd" />
        <plugin name="xineliboutput" />
        <plugin name="mplayer" />
        <plugin name="mpv" />
        <plugin name="markad" />
        <plugin name="recsearch" />
        <plugin name="recstatus" />
        <plugin name="webvideo" /> 
        <plugin name="vodcatcher" />
        <plugin name="vcd" />
        <plugin name="undelete" />
    </menu>
    <menu name="{{ "Audio" | translate }}" >
        <plugin name="mp3" />
        <plugin name="music" />
        <plugin name="lastfm" />
        <plugin name="radio" />
        <plugin name="radiolist" />
        <plugin name="cdda" />
        <plugin name="cdplayer" />
        <plugin name="podcatcher" />
        <plugin name="karaoke" />
    </menu>
    <plugin name="tvguide" />
    <plugin name="tvguideng" />
    <plugin name="desktop" title="{{ 'Applications' | translate }}" />
    <command name="Kodi" execute="frontend-dbus-send switchto kodi" />
    <menu name="{{ 'System' | translate }}">
        <system name="Commands" />
        <system name="Setup" />
        <plugin name="devstatus" />
        <plugin name="systeminfo" />
        <plugin name="femon" />
        <plugin name="filebrowser" />
        <plugin name="osd2web" />
        <plugin name="pin" />
        <plugin name="epg2vdr" />
        <plugin name="scraper2vdr" />
        <plugin name="sndctl" />
        <plugin name="pulsecontrol" />
        <plugin name="dynamite" />
        <plugin name="softhdcuvid" />
        <plugin name="softhddevice" />
        <plugin name="vaapidevice" />
        <plugin name="streamdev-client" />
        <plugin name="streamdev-server" />
        <plugin name="suspendoutput" />
    </menu>
    <plugin name="trayopenng" />
    <plugin name="undelete" />
</menus>
