{{ ansible_managed | comment }}
{{ "Remove marks" | translate }} : /usr/local/bin/removemarks
{{ "Remove Index-File" | translate }} : /usr/local/bin/removeindex
{{ "Remove resume file" | translate }} : /usr/local/bin/removeresume
{{ "Mark advertisements" | translate }} : /usr/local/bin/markad -O "$1" after
