[defaults]
interpreter_python = /usr/bin/python3
stdout_callback = debug
callback_plugins = plugins/callbacks
callback_whitelist = auto_tags
fact_caching = jsonfile
fact_caching_connection = /var/cache/ansible/facts

[ssh_connection]
pipelining = true
