#!/bin/bash
# forward environment variables to an environment file and the systemd user session
env | grep "DISPLAY\|DBUS_SESSION_BUS_ADDRESS\|XDG_RUNTIME_DIR" > ~/.session-env
systemctl --user import-environment DISPLAY XAUTHORITY XDG_RUNTIME_DIR DBUS_SESSION_BUS_ADDRESS

enabled_services=(
    "tmux.service" "detect-second-display.service"
    "openbox-second.service" "osd2web.service"
    "yavdr-frontend.service" "pulseaudio.socket"
    "pulseaudio.service" "wm-exit.service")
disabled_services=()

# enable configured services for the user session
for service in "${enabled_services[@]}"; do
  systemctl --user enable "$service"
done

# disable unwanted services for the user session
for service in "${disabled_services[@]}"; do
  systemctl --user disable "$service"
done

if which dbus-update-activation-environment >/dev/null 2>&1; then
        dbus-update-activation-environment DISPLAY XAUTHORITY XDG_RUNTIME_DIR
fi

# start systemd units for the yavdr user session
systemctl --user isolate yavdr-desktop.target
