[Unit]
Description=Start tmux in detached session

[Service]
EnvironmentFile=-%h/.session-env
Type=forking
WorkingDirectory=%h
ExecStart=/usr/bin/tmux new-session -s %u -d
ExecStop=/usr/bin/tmux kill-session -t %u
Restart=always

[Install]
WantedBy=default.target
