{{ ansible_managed | comment }}

# Activate/deactivate STM32Wakeup with yes/no:
WAKEUP_ENABLED="{% if wakeup_method == 'stm32wakeup' %}yes{% else %}no{% endif %}"

# How many minutes should the machine wake up before the timer starts:
WAKEUP_START_AHEAD=5

# If you want your VDR machine to wakeup in regular intervals (i.e. for
# updating EPG data), specify the days of the week and the wakeup time.
#
# Days of the week for regular wakeup (not set=Disabled, 1=Monday...7=Sunday)
# WAKEUP_REGULAR_DAYS="1 2 3 4 5 6 7"

# Wakeup time
#WAKEUP_REGULAR_TIME=01:00  # HH:MM
