{{ ansible_managed | comment }}

# Activate/deactivate ACPIWakeup with yes/no:
ACPI_ENABLED="{% if wakeup_method == 'acpiwakeup' %}yes{% else %}no{% endif %}"

# How many minutes should the machine wake up before the timer starts:
ACPI_START_AHEAD={{ wakeup_start_ahead }}

# If you want your VDR machine to wakeup in regular intervals (i.e. for
# updating EPG data), specify the days of the week and the wakeup time.
#
# Days of the week for regular wakeup (not set=Disabled, 1=Monday...7=Sunday)
{% if wakeup_days %}
ACPI_REGULAR_DAYS="{{ wakeup_days }}"
{% else %}
# ACPI_REGULAR_DAYS="1 2 3 4 5 6 7"
{% endif %}

# Wakeup time
{% if wakeup_time %}
ACPI_REGULAR_TIME="{{ wakeup_time }}"
{% else %}
# ACPI_REGULAR_TIME=01:00  # HH:MM
{% endif %}
