
Section "Device"
        Identifier "nvidia"
        Driver  "nvidia"
        Option  "NoLogo"              "true"
        Option  "DynamicTwinView"     "true"
        Option  "NoFlip"              "false"
#        Option  "FlatPanelProperties" "Scaling = Native"
#        Option  "ModeValidation"      "NoVesaModes, NoXServerModes"
#        Option  "ModeDebug"           "true"
#        Option  "HWCursor"            "false"
EndSection

Section "Screen"
        Identifier      "screen"
        Device          "nvidia"
EndSection

Section "Extensions"
        Option  "Composite"           "false"
EndSection
