{{ ansible_managed | comment }}

Section "Device"
        Identifier "nvidia"
        Driver  "nvidia"
        Option  "DynamicTwinView"     "true"
        Option  "NoFlip"              "false"
EndSection

Section "Screen"
        Identifier      "screen"
        Device          "nvidia"
EndSection
