// IMPORTANT: This file must start with a comment as the first line - see https://support.mozilla.org/en-US/kb/customizing-firefox-using-autoconfig
defaultPref("media.hardware-video-decoding.force-enabled", true);
defaultPref("gfx.x11-egl.force-enabled", true);
defaultPref("media.av1.enabled",  {{ "true" if (firefox_vaapi_av1_enabled | default ("false")) else "false" }});
