{{ ansible_managed | comment }}
[Unit]
Description=Control pulseaudio output via DBus

[Service]
Type=simple
ExecStart={{ vdr.home }}/bin/dbus_pulsectl
KillSignal=SIGINT

[Install]
WantedBy=yavdr-desktop.target
