{{ ansible_managed.format(file=template_path) | comment }}
[Service]
EnvironmentFile=-/etc/default/locale
Environment=XDG_RUNTIME_DIR=/run/user/{{ vdr.uid }}/
Environment=VDR_ID={{ vdr.instance_id | default(0)  }}
EnvironmentFile=-{{ vdr.home }}/.session-env
