[Unit]
Description=Start a kiosk browser on the second DISPLAY if it exists
After=detect-second-display.service openbox-second.service
Wants=detect-second-display.service openbox-second.service
ConditionFileNotEmpty=%h/.second_display

[Service]
PassEnvironment=XDG_RUNTIME_DIR DBUS_SESSION_BUS_ADDRESS
EnvironmentFile=%h/.second_display
Environment=url="http://localhost:4444/skins/horchiTft/index.html?theme=anthraize&onlyView=1"
EnvironmentFile=-%h/.config/osd2web/url
ExecStart=/usr/bin/on_vdr -o -c 'kiosk-browser "${url}"'
KillSignal=SIGINT

[Install]
WantedBy=yavdr-desktop.target
