#!/bin/bash
{{ ansible_managed | comment }}

case $1 in
  pre)
    # disable "_nfs.tcp" avahi announcements
    for file in /etc/avahi/services/*.service; do
    	if grep -Fq "_nfs._tcp" "$file"; then
    	    echo "rename $file to ${file%%.*}.disabled"
    	    mv "$file" "${file%%.*}.disabled"
    	fi
    done

    /bin/systemctl stop vdr
    /usr/bin/frontend-dbus-send shutdown_successfull
    /usr/local/bin/module-helper -u dvb_core
    ;;
  post)
    # start current frontend again
    if [ -x /usr/bin/frontend-dbus-send ]
    then
        /usr/bin/frontend-dbus-send start ||:
    fi

    # reload rc-core keytables
    if [ -x /usr/bin/ir-keytable ]
    then
        for remote in $(ir-keytable 2>&1 | grep rc/rc | egrep -o "rc[0-9]{1,}")
        do 
            /usr/bin/ir-keytable -a /etc/rc_maps.cfg --sysdev $remote
        done
    fi

    /usr/local/bin/module-helper -r

    # wait up to 10 seconds for the network
    timeout=0
    while [ -z "$(hostname --all-fqdns)" ]
    do
        echo "waiting for network..."
        sleep .5
        [ $(( timeout++ )) -ge 20 ] && break
    done

    # restore "_nfs._tcp" avahi announcements
    for file in /etc/avahi/services/*.disabled; do
    	if grep -Fq "_nfs._tcp" "$file"; then
    	    echo "rename $file to ${file%%.*}.service"
    	    mv "$file" "${file%%.*}.service"
    	fi
    done

    /bin/systemctl start vdr
    ;;
esac
