{{ vdr.user }} ALL=NOPASSWD: /bin/systemctl --no-block restart vdr.service
{{ vdr.user }} ALL=NOPASSWD: /bin/systemctl --no-block reboot
{{ vdr.user }} ALL=NOPASSWD: /usr/bin/chvt 7, /usr/bin/chvt 8, /usr/bin/chvt 9
