{{ ansible_managed | comment }}

ACTION=="add", KERNEL=="lcd*", SUBSYSTEMS=="usb", ATTRS{idVendor}=="15c2", ATTRS{idProduct}=="*", MODE="0660", GROUP="vdr"
ACTION=="add", KERNEL=="lcd*", SUBSYSTEMS=="usb", ATTRS{idVendor}=="15c2", ATTRS{idProduct}=="0036", MODE="0660", GROUP="vdr", SYMLINK+="imon_0036"
ACTION=="add", KERNEL=="lcd*", SUBSYSTEMS=="usb", ATTRS{idVendor}=="15c2", ATTRS{idProduct}=="0044", MODE="0660", GROUP="vdr", SYMLINK+="imon_0044"
