#!/usr/bin/dash
{{ ansible_managed.format(file=template_path) | comment }}

env | grep "DISPLAY\|DBUS_SESSION_BUS_ADDRESS\|XDG_RUNTIME_DIR\|XDG_DATA_DIRS" > ~/.session-env
systemctl --user import-environment DISPLAY XAUTHORITY XDG_RUNTIME_DIR XDG_DATA_DIRS DBUS_SESSION_BUS_ADDRESS

feh --no-fehbg  --bg-center "/usr/share/yavdr/images/yavdr_logo.png"

if which dbus-update-activation-environment >/dev/null 2>&1; then
  dbus-update-activation-environment DISPLAY XAUTHORITY XDG_RUNTIME_DIR XDG_DATA_DIRS
fi

# start systemd units for the yavdr user session
systemctl --user isolate yavdr-desktop.target
