#
# Command line parameters for vdr-plugin-xineliboutput
#
# For more details see:
#   - /usr/share/doc/vdr-plugin-xineliboutput/README.Debian
#   - `vdr --help -Pxineliboutput`
#   - /usr/share/doc/vdr-plugin-xineliboutput/README
#
[xineliboutput]
--local=none
--primary
--remote={{ "" if allowed_hosts else "127.0.0.1" }}:37890
--truecolor
