[Unit]
Description=Start kodi in user session

[Service]
Type=simple
PassEnvironment=DISPLAY XDG_RUNTIME_DIR DBUS_SESSION_BUS_ADDRESS
ExecStartPre=-/usr/bin/set-kodi-display
ExecStart=/usr/bin/kodi
ExecStop=/bin/bash -c "[ -n \"$MAINPID\"  ] || exit 0; /usr/bin/kodi-send --action=QUIT; while ps -p $MAINPID -o comm=; do sleep .25; done"
TimeoutStopSec=10
SuccessExitStatus=0 127 SIGKILL
Restart=on-failure
