xterm*background: Black
xterm*foreground: grey
XTerm*locale: true
XTerm*metaSendsEscape: true
XTerm*eightBitInput: false
XTerm*backarrowKey: false
XTerm*ttyModes: erase ^?
Xterm*saveLines: 4096
XTerm.vt100.metaSendsEscape: true
XTerm.vt100.geometry: 80x32
XTerm.vt100.renderFont: true
xterm*faceName: xft:DejaVu Sans Mono
xterm*faceSize: 18
xterm*renderFont: true
XTerm.vt100.faceName: xft:DejaVu Sans Mono:size=16:antialias=false
XTerm.vt100.font: 7x13
! clipboard
XTerm*VT100.translations: #override \
    Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD)

UXTerm*VT100.translations: #override \
    Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD)

Lxterm*VT100.translations: #override \
    Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD)


! ---------- Font ----------
UXTerm*faceName: Ubuntu Mono
UXTerm*faceSize: 20

UXTerm*boldFont: Ubuntu Mono:bold
UXTerm*renderFont: true
UXTerm*antialias: true
UXTerm*hinting: true

! ---------- Encoding ----------
UXTerm*locale: true
UXTerm*utf8: 1

! ---------- Scrollback ----------
UXTerm*saveLines: 10000
UXTerm*scrollBar: false
UXTerm*scrollKey: true
UXTerm*scrollTtyOutput: false
UXTerm*scrollTtyKeypress: true

! Mouse wheel scrollback
UXTerm*mouseWheelScroll: true

! ---------- Clipboard ----------
UXTerm*selectToClipboard: true
UXTerm*disallowedWindowOps: 20,21,22,23

! ---------- Cursor ----------
UXTerm*cursorBlink: false
UXTerm*cursorUnderline: false

! ---------- Backspace / Delete ----------
UXTerm*backarrowKey: false
UXTerm*deleteIsDEL: true
UXTerm*ttyModes: erase ^?

! ---------- Colors ----------
UXTerm*foreground: #eeeeee
UXTerm*background: #1e1e1e
UXTerm*cursorColor: #ffffff

UXTerm*color0:  #000000
UXTerm*color1:  #cd3131
UXTerm*color2:  #0dbc79
UXTerm*color3:  #e5e510
UXTerm*color4:  #2472c8
UXTerm*color5:  #bc3fbc
UXTerm*color6:  #11a8cd
UXTerm*color7:  #e5e5e5
UXTerm*color8:  #666666
UXTerm*color9:  #f14c4c
UXTerm*color10:#23d18b
UXTerm*color11:#f5f543
UXTerm*color12:#3b8eea
UXTerm*color13:#d670d6
UXTerm*color14:#29b8db
UXTerm*color15:#ffffff

! ---------- Misc ----------
UXTerm*termName: xterm-256color
UXTerm*internalBorder: 6
UXTerm*geometry: 100x30

! ---------- Font ----------
Lxterm*faceName: Ubuntu Mono
Lxterm*faceSize: 20

Lxterm*boldFont: Ubuntu Mono:bold
Lxterm*renderFont: true
Lxterm*antialias: true
Lxterm*hinting: true

! ---------- Encoding ----------
Lxterm*locale: true
Lxterm*utf8: 1

! ---------- Scrollback ----------
Lxterm*saveLines: 10000
Lxterm*scrollBar: false
Lxterm*scrollKey: true
Lxterm*scrollTtyOutput: false
Lxterm*scrollTtyKeypress: true
Lxterm*mouseWheelScroll: true

! ---------- Clipboard ----------
Lxterm*selectToClipboard: true
Lxterm*disallowedWindowOps: 20,21,22,23

! ---------- Cursor ----------
Lxterm*cursorBlink: false
Lxterm*cursorUnderline: false

! ---------- Backspace / Delete ----------
Lxterm*backarrowKey: false
Lxterm*deleteIsDEL: true
Lxterm*ttyModes: erase ^?

! ---------- Colors ----------
Lxterm*foreground: #eeeeee
Lxterm*background: #1e1e1e
Lxterm*cursorColor: #ffffff

Lxterm*color0:  #000000
Lxterm*color1:  #cd3131
Lxterm*color2:  #0dbc79
Lxterm*color3:  #e5e510
Lxterm*color4:  #2472c8
Lxterm*color5:  #bc3fbc
Lxterm*color6:  #11a8cd
Lxterm*color7:  #e5e5e5
Lxterm*color8:  #666666
Lxterm*color9:  #f14c4c
Lxterm*color10:#23d18b
Lxterm*color11:#f5f543
Lxterm*color12:#3b8eea
Lxterm*color13:#d670d6
Lxterm*color14:#29b8db
Lxterm*color15:#ffffff

! ---------- Misc ----------
Lxterm*termName: xterm-256color
Lxterm*internalBorder: 6
Lxterm*geometry: 100x30