{{ ansible_managed | comment }}
{{ "Update vdr recordings list" | translate }}    : echo "/usr/bin/svdrpsend updr" | at now
{{ "Restart VDR" | translate }}                   : sudo /bin/systemctl --no-block restart vdr.service
{{ "Reboot system" | translate }}               : sudo /bin/systemctl --no-block reboot
{{ "Shutdown system" | translate }}               : echo "/usr/bin/lircd2uinput-send KEY_POWER2" | at now
