{{ ansible_managed | comment }}
{{ "Update vdr recordings list" | translate }}    : /usr/bin/svdrpsend updr >/dev/null 2>&1 &
{{ "Restart VDR" | translate }}                   : sudo /bin/systemctl --no-block restart vdr.service
{{ "Reboot computer" | translate }}               : sudo /bin/systemctl --no-block reboot
{{ "Shutdown system" | translate }}             : /usr/bin/lircd2uinput-send KEY_POWER2 2>&1 /dev/null &
