{{ ansible_managed.format(file=template_path) | comment }}
[Unit]
Conflicts=getty@tty9.service

[Service]
StandardInput=tty-force
StandardOutput=journal
TTYPath=/dev/tty9
TTYReset=no
TTYVHangup=yes
ExecStartPre=/usr/bin/chvt 9
