[Unit]
Description=Start a kiosk browser on the second DISPLAY if it exists
After=detect-second-display.service openbox-second.service
Wants=detect-second-display.service openbox-second.service
ConditionFileNotEmpty=%h/.second_display

[Service]
EnvironmentFile=%h/.second_display
Environment=URL="http://localhost:4444/skins/horchiTft/index.html?theme=anthraize&onlyView=1"
Environment=BROWSER={{"kiosk-browser" if nvidia_detected | bool else "firefox" }}
Environment=BROWSER_ARGS={{"" if nvidia_detected | bool else "--no-remote --kiosk --private-window" }}
EnvironmentFile=-%h/.config/osd2web/config
ExecStart=/usr/bin/on_vdr -o -c '${BROWSER} ${BROWSER_ARGS} "${URL}"'
KillSignal=SIGINT

[Install]
WantedBy=yavdr-desktop.target
